body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: 2000px; /* Set the height of the page to enable scrolling */
  font-family: Optima, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fffef3;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar{
  display: none;
}

.marquee {
  position: fixed;
  bottom: 1.5vh;
  font-size: .6rem;
  line-height: 1.3em;
  letter-spacing: .03em;
  word-spacing: -0.03em;
  font-family: "GT Eesti Text",sans-serif;
  font-variant-numeric: normal;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 1.6em;
  white-space: nowrap;
  /* overflow: hidden; */
  margin-top: .2em;
  padding-top: .5em;
  /* margin-left: -100vw; */
  background-color: #fffef3;
  z-index: 9;
}

.title {
  font-size: 40px;
  margin-bottom: 80px;
  line-height: 35px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.log {
  margin: 13vh 0vw 0vh;
}

.fruit{
  width: 100vw;
  margin-right:-10vw;
}

.fruit-container {
  display: flex;
  position: relative;
}

.sticky-div {
  width: 60%;
  height: 60vh;
  position: sticky;
  top: 20vh;
  background-color: inherit;
}

.scroll-div {
  width: 40%;
  height: auto;
  background-color: inherit;
  position: relative;
}

/* Adjust position of scroll-div after sticky-div is released */
.sticky-div ~ .scroll-div {
  margin-top: 25vh;
}

section {
  margin: 50px 10vw 15vh;
  padding: 0;
  height:auto;
}

.navbar {
  overflow: hidden;
  background-color: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  padding: 10px 50px;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.navbar.small{
  height: 6vh;
  font-size: 20px;
  z-index: 20;
}

/* Style the title */
.navbar-title {
  float: left;
  color: black;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}
.navbar-title.small {
  padding: 12.5px 20px;
  font-size: 20px;
  z-index: 20;
}


/* Style the buttons */
.navbar-buttons {
  float: right;
  padding: 0px 20px;
  margin-right: 100px;
}

.navbar-button {
  background-color: inherit;
  border: none;
  color: black;
  padding: 25px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

.navbar-button.small {
  padding: 12.5px 20px;
  font-size: 20px;
  font-weight: bolder;
}

.navbar-button:hover {
  background-color: black;
  color: white;
}

/* .row-break {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.row-break img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 0;
  margin-bottom: 0;
} */

.banner {
  width: 100vw;
  position: relative;
  object-fit: cover;
  align-items: center;
  transition: opacity 0.1s ease-in-out;
}

.banner.sticky {
  position: fixed;
  top: -50px;
}
.banner img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.carousel {
  padding: auto;
  margin-top: 5vh;
  margin-left: -10vw;
  width: 100vw;
  overflow-x: scroll;
  white-space: nowrap;
}

.carousel-items {
  display: inline-flex;
}

.carousel-item {
  width: 30vw;
  height: fit-content;
  margin-right: 0px;
  /* background-color: #ccc; */
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .6rem;
  font-family: "Verdana",sans-serif;
  line-height: .6rem;
  border-left: 1px solid #000;
  border-top:  1px solid #000;
  border-bottom: 1px solid #000;
}
.carousel-item2 {
  border-top:  1px solid #000;
  align-items: bottom;
  font-size: .6rem;
  line-height: .6rem;
  justify-content: center;
  padding: 2% 0 ;
  text-align: center;
  height: .6rem;
  color: black;
  background-color: inherit;
}

video{
  margin-top:5px;
  margin-bottom:5px;
}

.video-container{
  padding-top:0px;
  margin-top:20px;
}
.containerAnimate {
  position: fixed; /* Make the container fixed to the viewport */
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 500px; /* Set the height of the container to the viewport height */
  width: 500px; /* Set the width of the container to the viewport width */
  overflow: hidden; /* Hide any overflowing images */
}

.containerAnimate img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.containerAnimate img.active {
  opacity: 1;
}
.image-container {
  margin: auto;
  height: 500px; /* Set the height of the container to the viewport height */
  width: 500px; /* Set the width of the container to the viewport width */
  overflow: hidden;
  position: relative;
}

.image-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.image-item.active {
  opacity: 1;
}

#e {
  height: 1000px;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
.profile {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: inherit;
  /* border: 1px solid #ddd; */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.profile img {
  /* display: block; */
  width: 100%;
  height: auto;
  /* border-radius: 50%; */
  margin-bottom: 10px;
}
.profile h3 {
  margin: 0;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}
.profile p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

/* #dragableprofile-container {
  width: 100vw;
  height: 400px;
  position: relative;
} */

#dragableprofile-container {
  position: absolute;
  z-index: 1;
  width: 80vw;
  height: 90vh;
}

#line-container {
  position: absolute;
  z-index: auto;
  width: 80vw;
  height: 100%;
}

.dragableprofile {
  width: 250px;
  height: 500px;
  position: absolute;
  cursor: move;
  background-color: inherit;
  border-radius: 50%;
  text-align: center;
}

.dragableprofile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* z-index: -1; */
}

.dragableprofile h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}

.dragableprofile p {
  font-size: 12px;
  margin-top: 5px;
}


.line {
  position: absolute;
  border: 1px solid black;
  /* z-index: -2; */
}


.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  width: calc(80vw / 3);
  height: 300px;
  transition: all 0.3s ease-in-out;
  margin: -1px;
  flex-shrink: 0;
  border: 1px solid #000;
  background-color: #fffef3;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.enlarge {
  width: 60vw !important;
  height: 500px !important;
}

.shrink-height {
  height: 100px;
}

.shrink-width {
  width: 10vw;
  height: 500px;
}

.same-row {
  display: flex;
  flex-direction: row;
}

.same-col {
  display: flex;
  flex-direction: column;
}

.same-row > .shrink-width:not(.enlarge) {
  width: 10vw;
}

.same-col > .shrink-height:not(.enlarge) {
  height: calc((100% - 500px) / 2);
}

.cell-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  font-size: .7rem;
  line-height: .7rem;
  padding: .5rem 0;
  text-align: center;
  height: .6rem;
  color: black;
  background-color: inherit;
  margin: -1px;
  flex:1;
  align-self: flex-end;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant-numeric: normal;
}



.parallax {
  height: 70vh;
  width: auto;
}

.bobbing-div {
  animation-name: bob;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* .parallax-container{
  height:80vh;
}


.parallax {
  position: absolute;
  top: 340vh;
  height: 100vh;
  width: 100vw;
  margin-left: -10vw;
  margin-top: -10vw;
  padding-top: 8vw;
  overflow-x: visible;
  overflow-y: scroll;
  perspective: 300px;
  z-index: 8;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}


.parallax__group {
  transition: transform 0.5s;
}

#profile1 {
  transform: translateZ(10px) scale(.9);
  z-index: 10;
}

#profile2 {
  transform: translateZ(0);
  z-index: 10;
}

#profile3 {
  transform: translateZ(-40px) scale(1.1);
  z-index: 10;
}

#profile4 {
  transform: translateZ(-100px) scale(1.2);
  z-index: 10;
} */

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.image-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.image-wrapper path  {
  stroke:#00000000;
  stroke-width: 0;
  fill: rgba(0, 0, 0, 0);
  transition: fill 0.2s ease-out;
}
.image-wrapper polygon  {
  stroke:#00000000;
  stroke-width: 0;
  fill: rgba(0, 0, 0, 0);
  transition: fill 0.2s ease-out;
}

.image-wrapper path:hover {
  fill: url(#MyGradient);
}
.image-wrapper polygon:hover {
  fill: url(#MyGradient);
}

.text-box {
  background: #000000bf;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2%;
  color: #fffef3;
  font-size: .8em;
  display: none;
  max-width: 50%;
}